.typographyDisplayDefault 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize3);
  line-height: var(--measureLineHeightLineHeightLineheights0);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTitleLarge 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize6);
  line-height: var(--measureLineHeightLineHeightLineheights0);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTitleMedium 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize5);
  line-height: var(--measureLineHeightLineHeightLineheights0);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTitleSmall 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize4);
  line-height: var(--measureLineHeightLineHeightLineheights0);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyBodyLarge 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize3);
  line-height: var(--measureLineHeightLineHeightLineheights1);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyBodyLargeBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize3);
  line-height: var(--measureLineHeightLineHeightLineheights1);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyBodyMedium 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize2);
  line-height: var(--measureLineHeightLineHeightLineheights1);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyBodyMediumBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize2);
  line-height: var(--measureLineHeightLineHeightLineheights1);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyBodySmall 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize1);
  line-height: var(--measureLineHeightLineHeightLineheights2);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyBodySmallBold 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize1);
  line-height: var(--measureLineHeightLineHeightLineheights2);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographySubtextCaption 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizeFontSizeFontsize0);
  line-height: var(--measureLineHeightLineHeightLineheights3);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

